{% extends "base.html" %}

{% block title %}
    {{data.title}}
{% endblock %}

{% block style %}
    {% include "include/inc-style.html" %}
{% endblock %}

{% block menu %}
    {% include "include/inc-menu.html" %}
{% endblock %}

{% block sidebar %}
    {% include "include/inc-sidebar.html"%}
{% endblock %}
{% block content %}
<div id="content">
    <!-- insert the page content here -->
    <h1>Добро пожаловть на сервис заказа такси</h1>
    <p> Такси в Оренбурге <strong>«Sky Taxi»</strong> это неизменно высокое качество обслуживание по цене, доступной для каждого жителя Оренбурга! За все время существования нам удалось показать жителям города и области, что значит высокий уровень сервиса
        в сфере пассажирских перевозок.</p>
    <p>Здесь вы можете заказать такси к определенному времени, выбрать подходящий Вам автомобиль</p>
    <h2>Такси на любой случай жизни.</h2>
    <p>В вашем распоряжении автомобили следующих классов:</p>
    {% if objects_list|length < 1 %}
    <ul>
        <li> - Люкс</li>
        <li> - Бизнес</li>
        <li> - Комфорт</li>
        <li> - Эконом</li>
        <li> - Грузовой</li>
    </ul>
    {% else %}
    <ul>{% for item in objects_list %}
        <li>- {{item.name}} <span>доступных авто: </span>
            <a href="/cars-list/?id={{item.id}}">Показать авто</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
    {% include "include/inc-footer.html" %}
{% endblock %}