{% extends "base.html" %}

{% block title %}
    {{data.title}}
{% endblock %}

{% block style %}
    {% include "include/inc-style.html" %}
{% endblock %}

{% block menu %}
    {% include "include/inc-menu.html" %}
{% endblock %}

{% block sidebar %}
    {% include "include/inc-sidebar.html"%}
{% endblock %}
{% block content %}
<div id="content">
    <!-- insert the page content here -->
    <h2>В данный момент доступны следующие автомобили:</h2>
    <table>
        <tr>
            <th>Люкс</th>
            <td>Toyota Camry<br />от 10000 руб</td>
            <td>Lexus RX350<br />от 8000 руб</td>
            <td>Nissan Teana<br />от 70000 руб</td>
            <td>KIA K5<br />от 5000 руб</td>
        </tr>
        <tr class="even">
            <th>Бизнес</th>
            <td>Mercedes-Benz E200<br />от 4000 руб</td>
            <td>Citroen C6<br />от 3500 руб</td>
            <td>Hyundai Genesis<br />от 3000 руб</td>
        </tr>
        <tr>
            <th>Комфорт</th>
            <td>Toyota Corolla<br />от 2000 руб</td>
            <td>KIA RIO<br />от 1500 руб</td>
            <td>Nissan juke<br />от 1000 руб</td>
        </tr>
        <tr>
            <th>Эконом</th>
            <td>Лада Веста<br />от 250 руб</td>
            <td>Dewoo Matiz<br />от 200 руб</td>
            <td>ВАЗ 2101<br />от 150 руб</td>
            <td>Москвич 412<br />от 50 руб</td>
        </tr>
        <tr>
            <th>Грузовой</th>
            <td>Газель NEXT<br />от 1850 руб</td>
            <td>КАМАЗ<br />от 750 руб</td>
            <td>ЗИЛ<br />от 500 руб</td>
        </tr>
    </table>
    <p>Здесь вы можете заказать такси к определенному времени, выбрать подходящий Вам автомобиль</p>
    <form action="#" method="post">
        <div class="form_settings">
            <p><span>Имя</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Номер телефона</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Адрес отправки</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Адрес назначения</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><label for="location" class="title"><span>Класс автомобиля:</span></label>
                <select name="location" id="location">
                     <option  value="lu">Люкс</option>
                     <option value="bi">Бизнес</option>
                     <option value="ko">Комфорт</option>
                     <option value="ek">Эконом</option>
                     <option value="gr">Грузовой</option>
                 </select></p>
            <p><span>Детское кресло</span><input class="contact" type="checkbox" id="kid" name="kid" checked></p>
            <p><span>Комментарии к заказу</span><textarea class="contact textarea" rows="3" cols="8" name="your_enquiry"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "include/inc-footer.html" %}
{% endblock %}